<% provide(:title, 'All Clients') %>
<div class="card">

  <div class="card-block">
    <div class="table-responsive">
      <table class="table table-bordered mb-0">
        <thead>
        <tr>
          <th>Code</th>
          <th>Name</th>
          <th>Projects</th>
          <th>Engagements</th>
        </tr>
        </thead>
        <tbody>
        <% @clients.each do |client| %>
          <tr>
            <th scope="row"><%= link_to client.code, client_path(client) %></th>
            <td scope="row"><%= client.name %></td>
            <td><%= client.projects.count %></td>
            <td><%= client.engagements.count %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>