<% provide(:title, @client.name) %>
<div class="card">
  <div class="card-block">
    <div class="tab-container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#details" role="tab" aria-expanded="false">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#projects" role="tab" aria-expanded="true">Projects</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="details" role="tabpanel" aria-expanded="false">
          <dl class="row">
            <dt class="col-sm-3">Client Name</dt>
            <dd class="col-sm-9"><%= @client.name %></dd>
          </dl>
          <dl class="row">
            <dt class="col-sm-3">Code</dt>
            <dd class="col-sm-9"><%= @client.code %></dd>
          </dl>
        </div>

        <div class="tab-pane fade" id="projects" role="tabpanel" aria-expanded="true">
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
              <tr>
                <th>Code</th>
                <th>Name</th>
              </tr>
              </thead>
              <tbody>
              <% @client.projects.each do |project| %>
                <tr>
                  <td scope="row"><%= link_to project.full_code, project_path(project) %></td>
                  <th scope="row"><%= link_to project.name, project_path(project) %></th>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
