<aside class="sidebar">
  <div class="scrollbar-inner">
    <ul class="navigation">
      <li><a href="index.html"><i class="zmdi zmdi-home"></i> Dashboard</a></li>

      <li class="navigation__sub">
        <a href=""><i class="zmdi zmdi-view-week"></i> Resources</a>

        <ul>
          <li><a href="">Overview</a></li>
          <li><a href="">Staff</a></li>
          <li><a href="">Teams</a></li>
        </ul>
      </li>

      <li class="navigation__sub">
        <a href=""><i class="zmdi zmdi-view-week"></i> Skills</a>

        <ul>
          <li><a href="">Overview</a></li>
          <li><a href="">Skills</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
