<aside class="sidebar">
  <div class="scrollbar-inner">
    <ul class="navigation">
      <li>
        <%= link_to :dashboard do %>
          <i class="zmdi zmdi-home"></i> Dashboard
        <% end %>
      </li>

      <li class="navigation__sub">
        <a href=""><i class="zmdi zmdi-accounts"></i> Resources</a>

        <ul>
          <li><a href="">Overview</a></li>
          <li><%= link_to 'Staff', :staff_index %></li>
          <li><%= link_to 'Teams', :teams %></li>
        </ul>
      </li>

      <li class="navigation__sub">
        <a href=""><i class="zmdi zmdi-star"></i> Skills</a>

        <ul>
          <li><a href="">Overview</a></li>
          <li><a href="">Skills</a></li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
