<% provide(:title, @role.name) %>
<div class="card">
  <div class="card-block">
    <div class="tab-container">
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#details" role="tab" aria-expanded="false">Details</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " data-toggle="tab" href="#members" role="tab" aria-expanded="true">Members</a>
        </li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane fade active show" id="details" role="tabpanel" aria-expanded="false">
          <dl class="row">
            <dt class="col-sm-3">Grade Name</dt>
            <dd class="col-sm-9"><%= @role.name %></dd>
          </dl>
        </div>

        <div class="tab-pane fade" id="members" role="tabpanel" aria-expanded="true">
          <div class="table-responsive">
            <table class="table table-bordered mb-0">
              <thead>
              <tr>
                <th>Name</th>
                <th>Team</th>
                <th>Level</th>
              </tr>
              </thead>
              <tbody>
              <% @role.staff_role_suitabilities.each do |srs| %>
                <tr>
                  <th scope="row"><%= link_to srs.staff.full_name, staff_path(srs.staff) %></th>
                  <td scope="row"><%= link_to srs.staff.team.name, team_path(srs.staff.team) %></td>
                  <td scope="row"><%= suitability(srs.suitability) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
