<header class="content__title">
  <h1>Dashboard</h1>

  <div class="actions">
    <a href="" class="actions__item zmdi zmdi-trending-up"></a>
    <a href="" class="actions__item zmdi zmdi-check-all"></a>

    <div class="dropdown actions__item">
      <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
      <div class="dropdown-menu dropdown-menu-right">
        <a href="" class="dropdown-item">Refresh</a>
        <a href="" class="dropdown-item">Manage Widgets</a>
        <a href="" class="dropdown-item">Settings</a>
      </div>
    </div>
  </div>
</header>

<div class="row quick-stats">
  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-blue">
      <div class="quick-stats__info">
        <h2><%= Staff.staff_count %></h2>
        <small>Total Staff</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-amber">
      <div class="quick-stats__info">
        <h2>0</h2>
        <small>Total Engagements</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-purple">
      <div class="quick-stats__info">
        <h2>0</h2>
        <small>Total Bench</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-red">
      <div class="quick-stats__info">
        <h2><%= Client.client_count %></h2>
        <small>Total Clients</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>
</div>