<h1>Dashboard</h1>
<div class="row quick-stats">
  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-blue">
      <div class="quick-stats__info">
        <h2>987,459</h2>
        <small>Total Website Traffics</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-amber">
      <div class="quick-stats__info">
        <h2>356,785K</h2>
        <small>Total Website Impressions</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-purple">
      <div class="quick-stats__info">
        <h2>$58,778</h2>
        <small>Total Online Sales</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>

  <div class="col-sm-6 col-md-3">
    <div class="quick-stats__item bg-red">
      <div class="quick-stats__info">
        <h2>214</h2>
        <small>Total Support Tickets</small>
      </div>

      <div class="quick-stats__chart sparkline-bar-stats"><canvas width="58" height="36" style="display: inline-block; width: 58px; height: 36px; vertical-align: top;"></canvas></div>
    </div>
  </div>
</div>